/* General CSS (split into library later) */

body, html {
  box-sizing: border-box;
  height: fit-content;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body {
  font-size: 1.1rem;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  color: currentColor;
}

img {
  max-width: 100%;
  user-select: none;
}

h1 a, h2 a, h3 a {
  text-decoration: none !important;
}

h2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

h4, h5, h6 {
  margin-bottom: 0;
}

pre {
  max-width: 100%;
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

pre::-webkit-scrollbar {
  display: none;
}

pre:has(code:not([class="language-mermaid"])) {
  background: black;
  color: white;
  padding: .5em;
  border-radius: 8px;
}

kbd {
  border: 1px solid gray;
  background: white;
  border-radius: 6px;
  padding: 2px 6px;
  font-family: sans-serif;
  color: #111121;
}

table {
  border-collapse: collapse;
  max-width: 100%;
  width: 100%;
}

td,
th {
  padding: 0.2em;
  text-align: left;
}

tr {
  border-bottom: 1px solid #ccc;
}

blockquote {
  border-left: 2px solid currentColor;
  font-size: 0.875em;
  font-style: italic;
  opacity: 0.7;
  padding-left: 40px;
  margin-left: 0;
  margin-right: 0;
}

/* Site-specific */

body {
  max-width: 750px;
  margin: 4em auto;
  min-height: fit-content;
}

/* Footer */

footer {
  color: rgb(87, 87, 87);
  font-size: 80%;
  font-family: sans-serif;
  margin-top: 30px;
}

footer {
  line-height: 23px;
}

footer a {
  color: rgb(69, 69, 69);
}

footer svg {
  height: 1em;
  vertical-align: middle;
}

footer .author {
  line-height: 40px;
}

footer .license-icon {
  float: right;
}

