---
---
@import "normalize";
@import "ghme";
@import "typography";

:root {
  --background: 221, 221, 221;
  --foreground: 0, 0, 0;
  --primary: 50, 194, 136;
}

body {
  padding-bottom: 30px;
  min-height: fit-content;
}

/* Header */

header {
  text-align: center;
}

/* Footer */

footer {
  color: rgb(87, 87, 87);
  font-size: 80%;
  font-family: sans-serif;
  margin-top: 30px;
}

footer {
  line-height: 23px;
}

footer a {
  color: rgb(69, 69, 69);
}

footer svg {
  height: 1em;
  vertical-align: middle;
}

footer .author {
  line-height: 40px;
}

footer .license-icon {
  float: right;
}
