@import url("https://roblog.nl/base.css");

/* Site-specific */

body {
  max-width: 750px;
  padding: 7px;
  margin: 4em auto;
  min-height: fit-content;
}

img {
  aspect-ratio: 12/5;
  object-fit: contain;
  width: 100%;
  background: #fafafa;
  /* box-shadow: 0 0 200px -70px gray; */
}

.language-mermaid svg {
  margin: 0 auto;
  display: block;
}

p:has(mjx-container[jax="CHTML"][display="true"]) {
  margin: 2.5em 0 2.5em;
}

ins {
  text-decoration: none;
}

/* Header */

header nav a {
  text-decoration: none;
  font-size: 0.8em;
}

/* Footer */

footer {
  color: light-dark(rgb(87, 87, 87), rgb(168, 168, 168));
  font-size: 80%;
  font-family: sans-serif;
  margin-top: 30px;
}

footer {
  line-height: 23px;
}

footer a {
  color: light-dark(rgb(69, 69, 69), rgb(205, 205, 205));
}

footer svg {
  height: 1em;
  vertical-align: middle;
  fill: light-dark(black, white);
}

footer .author {
  line-height: 40px;
}

footer .license-icon {
  float: right;
}

/* Help boxes */

details.li {
  margin-left: 1.25em;
}

details:not(.li) {
  margin-left: .5em;
  padding: .5em;
  background: light-dark(#ededed, #00000033);
  font-style: italic;
  opacity: .8;
  margin-bottom: .2em;

  & summary {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    font-weight: bolder;
  }

  & :last-child {
    margin-bottom: 0;
  }
}