# 👋 Hallo klasgenoot

Dit is een website die ik aan elkaar heb geducktapet voor mijn school shtuff. Ik plaats hier samenvattingen en andere handige materialen. Je kan de site zelf navigeren met onderstaande navigatie:

Success met leren!

