# 👋 Hallo klasgenoot

Dit is een website die ik aan elkaar heb geducktapet voor mijn school shtuff. Ik plaats hier samenvattingen en andere handige materialen. Je kan de site zelf navigeren met onderstaande navigatie:

Success met leren!

(PS: Er was een foutje in de site waardoor sommige pagina's niet geupdate werden als je niet CTRL-R indrukte of bovenin op herladen klikte. Het is nu opgelost, maar misschien moet je het dus nog één keer doen.)
